!contrib/carmel/c-client
!imap/src/c-client
**/#
**/am--include-marker
*.a
*.o
*.orig
*.rej
*~
.deps
Makefile
POTFILES
alpine/Makefile
alpine/alpine
alpine/osdep/Makefile
alpine/rpdump
alpine/rpload
an
autom4te.cache
c-client
config.log
config.status
date.c
depcomp
imap/OSTYPE
imap/SPECIALS
imap/c-client/
imap/dmail/
imap/imapd/
imap/ip6
imap/ipopd/
imap/mailutil/
imap/mlock/
imap/mtest/
imap/tmail/
include/config.h
install-sh
libtool
ltmain.sh
m4/*
m4/Makefile
missing
mkinstalldirs
pico/Makefile
pico/osdep/Makefile
pico/pico
pico/pilot
pith/Makefile
pith/charconv/Makefile
pith/help_c_gen
pith/help_h_gen
pith/helptext.c
pith/helptext.h
pith/osdep/Makefile
po/Makefile
po/Makefile.in
regex/Makefile
rem
stamp-h1
web/bin
web/cgi/alpine/2.0/lib/yui-2.9.0/
web/lib/
web/src/Makefile
web/src/alpined.d/.libs/
web/src/alpined.d/Makefile
web/src/alpined.d/alpined
web/src/alpined.d/alpineldap
web/src/alpined.d/libwpcomm.la
web/src/alpined.d/local.c
web/src/alpined.d/wpcomm.lo
web/src/cgi.tcl-1.10/pkgIndex.tcl
web/src/pubcookie/Makefile
